* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 60px;
    padding: 15px 20px;
    background-color: var(--card-bg);
    border-bottom: 2px solid var(--border-color);
    z-index: 100;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  nav .logo {
    width: 80px;
    height: auto;
  }
  
  nav .logo img {
    width: 100%;
  }
  